.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
README.md
.env

# VS Code settings and workspace storage
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/*.code-workspace